@keyframes fadeInRight {
    0% {
        opacity: 0;
         -webkit-transform: translate3d(100%,0,0);
         transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
.cart-clicked {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 3%;
    overflow: scroll;
    box-shadow:0 0 0 2000px rgba(0,0,0,0.5);
    z-index: 1000;
    

}

.cart-hidden {
   display: none;
}
.cart-clicked h1 {
   
    width: 100%;
    height: 15vh;
    font-family: 'Montserrat';
    font-weight: 600;
    padding-left: 15%;
    
}
.cart-clicked svg {
        margin-top: 4%;
        margin-right: 8%;
        fill: black;
        background-color: white;
  }
.checkout-div {
    
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkout-btn {
    min-height: 7vh;
    height: 7vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5%;
}
#checkout-btn:hover {
    background-color: black;
    color: white;
}
.cart-items-container {
    
    width: 100%;
    
}
.cart-item {
    height: 15vh;
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
    padding-left: 15%;
    align-items: center;
    
}
#cart-item-img {
    max-height: 80%;
    object-fit: contain;
    width: 30%;
    
}
.cart-item-title {
     height: 100%;
      width: 50%;
     display: flex;
     flex-direction: column;
     align-items: space-between;
}
#cart-item-title-txt {
    height: 60%;
    width: 100%;
    font-size: .7rem;
    font-family: 'Montserrat';
    font-weight: 600;
}
.controller-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cart-controller {
    height: 70%;
    width: 30%;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 500;
    border: 1px solid gray;
   
}
.cart-controller::-webkit-inner-spin-button, 
.cart-controller::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
#cart-increase, #cart-decrease {
    height: 70%;
    width: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
   
}
#cart-increase img, #cart-decrease img {
    height: 50%;
    width: 50%;
}
#cart-item-price {
    font-family: 'Montserrat';
    font-weight: 600;
    width: 15%;
    height: 100%;
    font-size: .8rem;
}
#subtotal {
    width: 100%;
    
    padding-left: 15%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: .9rem;
}
.hidden-div {
    display: none; 

}
.enabled {
    display: flex; 
    height: 100vh;
    left: 0; 
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 999; 
    background-color: initial;
}