.home  {
    height: 90vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.home-header {
    color: white; 
    width: 30%;
    height: 40vh;
    font-size: 4rem;
    display: flex;
    align-items: center;
    padding-left: 5%;

    
}
.home-header-2 {
    color: white; 
    width: 30%;
    height: 10vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding-left: 5%;

   
    
}
.shop-btn-container {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; 
   

}
.shop-btn-container a {
    background-color: black;
    color: white; 
    border: 1px solid white;
    height: 20%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#shop-link {
    text-decoration: none;
}
@media(max-width: 768px) {
   
    .home-header {
        width: 100%;
        font-size: 2.5rem;
        justify-content: center;
        padding-left: 0%;
        
    }
    .home-header-2 {
        width: 100%;
        font-size: .9rem;
        justify-content: center;
        padding-left: 0%;
    }
    .line-break {
        display: none;
    }
    .shop-btn-container a {
        font-size: .7rem;
    }
}