* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    overscroll-behavior: none;
}
body {
    height: 100vh;
    width: 100vw;
    overscroll-behavior: none;
    
    
}
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}
