
.store {
    width: 80vw;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 10px;
    padding-top: 2%;
}
#shop-item {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    border-radius: 5px;
    text-decoration: none;
    
}
#item-img {
    height: 40%;
    object-fit: contain;
    max-width: 80%;
    margin-bottom: 5%;
    transition: transform .7s;
}
#item-img:hover {
    transform: scale(.9); 
  }
#item-name {
    color: black;
    height: 15%;
    width: 90%;
    font-size: 1rem;
    letter-spacing: .5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Roboto';
    font-weight: 400;
    
}
#item-name:hover {
    color: darkorange;
}

#item-rating{
    color: black;
    height: 10%;
    width: 40%;
   
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
  
}

.item-price-cart{
    color: black;
    height: 15%;
    width: 90%;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}


#item-price{
    color: black;
    height: 100%;
    width: 40%;
    font-size: 1rem;
   
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    font-family: 'Lato';
    

}
#add-to-cart:hover {
    border: .5px solid black;
    background-color: white;
    color: black;
  
}
